  
body{
    background-color: rgb(45, 44, 44);
   
    
} 
@font-face {
    font-family: 'gt_walsheim_trialbold';
    src: url("./fonts/gt-walsheim-pro-trial-bold-webfont.woff2") format("woff2"), url("./fonts/gt-walsheim-pro-trial-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  /* HTML */
  * {
    box-sizing: border-box;
    box-shadow: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

    header, #meme-buttons {
        margin-bottom: 1%;
        background-color:rgb(255, 95, 2);
        color:white;
    }
.giphy-container{
    background-color: rgb(121, 115, 115);
    border-radius: 20px;
    border: rgb(180, 178, 178) solid 2px;
    
}

.popcorn{
    margin: 12px;
    text-align: center;
}
  
.meme-container{
    border-radius:20px;
    background-color:rgb(121, 115, 115);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23);
    border: rgb(180, 178, 178) solid 2px; 
    text-align: left; 
    text-emphasis: bold;
}
.meme-container img, .giphy-container img{padding-left:60px;
    margin:10px;
    color:white;
    background-color:  rgb(255, 95, 2);
    /* flex-direction: column; */
}

    .btn:hover {
        background-color: rgb(121, 115, 115) !important;
        border-color:white;
    }
    
    .btn:focus,.btn:active {
        outline: none !important;
        box-shadow: none;
     }
    
    #add-meme {
        background-color:rgb(255, 95, 2);
        cursor: pointer;
        border-color:white;
        background-color: rgb(245, 138, 77);
    }
    
    .meme {
        cursor: pointer;
    }
    
    
    .meme {
        cursor: pointer;
    }
    
  
    
    .meme {
        margin-right: 1%;
        margin-bottom: 1%;
        border-color:white;
        background: white;
        color:purple;
    }
    .meme-container img{
        margin-right: 1%;
    }
    
 
    
    
    
    @media screen and (max-width: 768px) {
    
        .meme {
        width: 100%;
        }
    
        #add-meme {
        margin-left: 15px;
        }
    }